# update-private-readme

[![Version badge](https://img.shields.io/badge/version-{{version}}-blue.svg)](https://shields.io/)

Proof-of-concept to get package version from `package.json` and display as a badge.

* Uses [mustache]() to provide a README template.
* Uses a [GitHub Action]() to generate the README and commit the change.

## Manually update readme

```npm run readme```

